#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}
{% for i in psql_pg_hba_conf %}
{{ i.connection_type }}{{'\t\t'}}{{ i.database }}{{'\t\t'}}{{ i.user }}{{'\t\t'}}{{ i.address }}{{'\t'}}{% if i.address == '' %}{{'\t'}}{% endif %}{{ i.method }}
{% endfor %}